# --- data ---------------------------------------------------------------------------------------
# old files (remove before upload)
/data/old/*
/src/python/old/*
/src/r/old/*

# generated/processed data
/data/processed/*

# downloaded gplately plate-rotation model cache
/data/plate_models/

# large data files
# these are hosted separately on Zenodo: 
/data/Data_S3*
/data/Data_S4*
/data/Data_S5*

# --- R ------------------------------------------------------------------------------------------
# history files
.Rhistory
.Rapp.history

# session Data files
.RData
.RDataTmp

# user-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# R Environment Variables
.Renviron


# --- Python -------------------------------------------------------------------------------------

# byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Jupyter / IPython
# not using Jupyter notebooks but ignore checkpoints and config files if they exist
.ipynb_checkpoints/
profile_default/
ipython_config.py

# gplately / pygplates runtime logs
gplately.log
ptt.log

# Environment variable files
.env
